 .info-card{
    padding: 0 5px;
 }
.info-primary{
  background-color: #1CC7C1;
}
.info-dark{
  background-color:#3a4256;
}
.info-container{
    padding: 30px;
    height: 100px;
}
.info-icons{
    font-size: 3em;
}
.left{
    margin-right: 10px;
}